schema/csdoc.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:attribute name="name" type="xsd:string" />
	<xsd:attribute name="type" type="xsd:string" />
	<xsd:attribute name="order" type="xsd:int" />

	<xsd:complexType name="singleParameter">
		<xsd:attribute ref="name" />
		<xsd:attribute ref="type" />
		<xsd:attribute ref="order" />
		<xsd:simpleContent>
			<xsd:extension base="xsd:string" />
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:element name="parameter" type="singleParameter" />

</xsd:schema>
